body {
    margin: 0;
    padding: 0;
    font-size: 7.5pt;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.table, .table tr th, table tr td {
    font-size: 7.5pt;
}
/*文字居中*/
.text-center {
    text-align: center;
}

/*文字居右*/
.text-right {
    text-align: right;
}

/*标题*/
h6 {
    margin: 1.2em !important;
    font-weight: 900 !important;
    margin-left: 8px !important;
    font-size: 7pt;
}

/*无下边距标题*/
.h6-special {
    float: left;
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 24px;
    font-weight: 900;
}

/*右边距 内*/
.paddingR {
    padding-right: 50%;
}

/*上边距 外*/
.marginT {
    float: left;
    margin-top: 10px;
}

/*下边距 外*/
.marginB {
    float: left;
    margin-bottom: 10px;
}

/*每行设置下边距*/
.paddingT tr td {
    padding-top: 10px;
}

/*表格*/
.table {
    float: left;
    text-align: left;
    width: 100%;
    padding: 0 8px;
    font-weight: 400;
}

/*一行两个表格*/
.table-half {
    width: 50%;
    float: left;
}

.table tr th {
    padding-bottom: 10px;
}

/*行高*/
.table tr {
    line-height: 10px;
}

.table-half tr td {
    width: 50%;
}

.table-third tr th, .table-third tr td {
    width: 25%;
}

/*一行5列表格*/
.table-five tr td {
    width: 25%;
}

/*一行6列表格*/
.table-six tr th, .table-third tr td {
    width: 16%;
}

/*表头上下边线*/
.th-border tr th {
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    padding-bottom: 0 !important;
}

.table-six tr td {
    padding-top: 10px;
}

/*一行7列表格*/
.table-senven tr td {
    width: 14%;
}

/*--------------------------------分页-------------------------*/
.paging {
    margin-bottom: 120px;
}

/*第二篇大div设置*/
.page-text {
    float: left;
    width: 100%;
    padding: 0 8px;
}

/*h6标签文字间距删除*/
.page-text h6 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/*p标签文字间距删除*/
.page-text p {
    margin: 14px 0 !important;
}

/*div一行展示*/
.line-text div {
    display: inline-block;
}

/*上下边线添加*/
.text-border {
    margin-bottom: 0 !important;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}

/*去掉上边线*/
.noneT {
    border-top: none;
}

/*表格设置*/
.table-text, .table-texts {
    width: 100%;
    padding: 0 !important;
    text-align: left;
}

/*表头加粗去掉*/
.table-texts tr th {
    font-weight: 400;
}

/*表头下边线设置*/
.table-text tr th {
    border-bottom: 1px dotted;
}

/*end 文字设置*/
.text-end {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/*删除下边距*/
.marginB-none, .text-h6 {
    margin-bottom: 0 !important;
}

/*p文字边距设置*/
p.text-theme {
    width: 96%;
    margin-left: 8px !important;
}

/*设置第一个div的宽度*/
.lineW div:nth-child(1) {
    width: 160px;
}

/*上边距设置*/
.text-marginT {
    margin-top: 22px;
}

/*第一列右边框设置*/
.borderR {
    text-align: left !important;
    border-right: 1px dotted;
}

/*一行7列表格设置*/
.table-text-senven tr th,
.table-text-senven tr td {
    width: 14%;
    text-align: center;
}








