body {
    margin: 0;
    padding: 0;
    font-size: 5pt;
    font-family: "Verdana", "Verdana Regular";
}
.font {
    font-family: "Verdana", "Verdana Regular";
}
.font-B {
    font-weight: 600 !important;
}
thead {
    display: table-header-group !important;
}

tr {
    page-break-inside: avoid !important;
}

/*页面内容初始化*/
.container, .Aline {
    float: left;
    width: 98%;
    margin-left: 1%;
}

/*字体*/
.table tr th {
    font-size: 5pt;
}

.table tr td {
    font-size: 5pt;
}
.font-italic {
    font-style: italic;
    margin-left: 9px;
}
/*行高*/
.table tr {
    line-height: 8px;
}

.Line-height-max tr {
    line-height: 11px;
}

/*文字居左边*/
.text-left {
    text-align: left !important;
}

/*文字居中*/

.text-center {
    text-align: center !important;
}

/*文字居右*/
.text-right {
    text-align: right !important;
}

/*下边距 大 不常用*/
.margin-max {
    margin-top: 120px !important;
}

/*页面50%的占位符*/
.placeholder-half {
    padding-right: 50%;
}

/*无边距 内*/
.none-padding {
    padding: 0 !important;
}

/*无下边距 内*/
.none-paddingB-th tr th  {
    padding-bottom: 0 !important;
}
/*上边距边距 内*/
.paddingT-th tr th {
    padding-top: 10px !important;
}
/*无边距 外*/
.none-margin {
    margin: 0 !important;
}

/*删除上下边距*/
.none-marginTB {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/*删除左右边距*/
.none-marginLR {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*删除上边距*/
.none-marginT {
    margin-top: 0 !important;
}

/*删除下边距*/
.none-marginB {
    margin-bottom: 0 !important;
}

/*上边距设置 大*/
.marginMax {
    margin-top: 22px;
}

/*上边距 外*/
.marginT {
    float: left;
    margin-top: 10px;
}

/*下边距 外*/
.marginB {
    float: left;
    margin-bottom: 10px;
}
.marginT-H {
    height: 32px;
}

/*每行设置下边距*/
.all-padding-td tr td {
    padding-top: 10px;
}

/*标题*/
h6 {
    float: left;
    width: 98.5%;
    font-size: 6.5pt;
    font-weight: 700;
    margin: 1.2em 8px 2px 4px !important;
}
.h6-marginB {
    margin-bottom: 0.6em !important;
}

/*p标签初始化*/
p {
    float: left;
    width: 98%;
    text-align: left;
    margin: 8px !important;
}

/*修改p标题上下边距*/
.p-minM {
    margin: 14px 0 !important;
}

/*div一行展示*/
.Aline div {
    display: inline-block;
}

/*同一行展示第一个div的宽度*/
.Aline div:nth-child(1) {
    width: 160px;
}


/*表格*/
.table {
    float: left;
    text-align: left;
    width: 100%;
    padding: 0 8px !important;
}

.table tr th {
    padding-bottom: 10px;
    font-weight: 700;
    margin-bottom: 12px;
}

/*一行2列表格*/
.table-half {
    width: 50%;
    float: left;
}

.table-half tr td {
    width: 50%;
    font-weight: 300;
}

/*一行3列表格//每行3列时候加一个空的th和td标签//*/
.table tr th,
.table tr td,
.table-three tr th,
.table-three tr td {
    width: 25%;
}

/*一行4列无需单独设置*/
/*一行5列表格*/
.table-five tr th,
.table-five tr td {
    width: 20%;
}

/*一行6列表格*/
.table-six tr th,
.table-six tr td {
    width: 16%;
}

/*一行7列表格*/
.table-senven tr th,
.table-senven tr td {
    width: 14%;
}

/*-------------------Bureau---------------------*/
.Bureau-table {
    width: 80%;
    margin-left: 10%;
}

.Bureau-table td {
    border: 1px solid;
    border-bottom: none;
    padding-left: 4px;
}
.no-border-right {
    border-right: none !important;
}
.border-bottom {
    border-bottom: 1px solid !important;
}

/*-------------------Subject----------------------*/
.Subject-content {
    margin-left: 5px !important;
    font-weight: 600;
    padding-bottom: 2px;
}
.Subject-title {
    font-weight: 600;
    padding-left: 6px;
}

.Subject-content-box {
    float: left;
    width: 95%;
    margin-left: 5%;
}
.Subject-marginB {
    margin-bottom: 2px;
}
.Subject-left, .Subject-right {
    float: left;
    width: 20%;
}

.Subject-right {
    width: 80% !important;
}

/*-------------------Personal Details----------------------*/
.position-right-up {
    position: absolute;
    width: 160px;
    right: 20px;
    margin-top: -67px;
}
.position-right-down {
    position: absolute;
    width: 160px;
    right: 20px;
    margin-top: -38px;
}
.cycle-table {
    width: 300px;
    border: 1px solid red;
}
.cycle-table-title{

}